body{
    font-family: 'Poppins', sans-serif;
}
.first-section {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.details {
    width: 50%;
    padding-left: 5%;
}
h1 {
    font-size: 50px;
}
span{
    color: orange;
}
.details a {
    background-image: linear-gradient(orange ,#de6262);
    color: #fff;
    padding: 10px 30px;
    border-radius: 5%;
    text-decoration: none;
    font-size: 20px;
}
.image {
    width: 50%;;
}
.image img {
    width: 80%;
}
.second-section{
    display: flex;
    padding-left: 20px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: right;
}
.image-two {
    width: 50%;
}
.image-two img {
    width: 80%;
}
.section-details {
    width: 50%;
}
.section-details a {
    padding: 10px 40px;
    background-image: linear-gradient(orange , red);
    color: palegoldenrod;
    font-size: medium;
    border-radius: 20px;
}
.experience-main {
    display: flex;
    margin: 0 20px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.area-one {
    box-shadow: 10px 10px 40px gray;
    margin-right: 20px;
    border-radius: 10px;
    width: 40%;
    margin: 4%;
    padding-left: 10px;
}

#area-one {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}